################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin/
**/obj/
.vs/
/BankTransferAPI/BankTransferAPI/Enviroment.env
/BankTransferAPI/BankTransferAPI/.env
/BankTransferAPI/BankTransferAPI/bin
/BankTransferAPI/BankTransferAPI/obj
/BankTransferAPI/BankTransferAPI/credentials.env
/BankTransferAPI/BankTransferAPI/publish

/BankTransferAPI/BankTransferUI/bin
/BankTransferAPI/BankTransferUI/obj

/BankTransferAPI/BankTransferAPITest/bin
/BankTransferAPI/BankTransferAPITest/obj

/BankTransferAPI/BankTransferAPI/obj/Debug/net8.0
