################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BankTransferAPI/.vs/BankTransferAPI
/BankTransferAPI/BankTransferAPI/Enviroment.env
/BankTransferAPI/BankTransferAPI/.env
/BankTransferAPI/BankTransferAPI/credentials.env
